<!-- <div class="row m-5">
    <div class="col">
        <h1>Ajouter une catégorie</h1>
    </div>
</div> -->

<div class="row m-5">
    <div class="col-5">
        <form>
            <div class="form-group">
                <input type="text" [(ngModel)]="cat" name="cat" class="form-control" placeholder="votre catégorie" />
            </div>

            <div class="row">
                <div class="col boutCat">
                    <button type="submit" class="btn" (click)="AddCat($event)">
                        <span *ngIf='id==null;else idNonNull' class="add">Ajouter Catégorie</span>
                        <ng-template #idNonNull><span class="delete">Modifier Catégorie</span></ng-template>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-3 offset-4 bRh">
        <button class="btn btn-primary bR" (click)="Retour()">Retour</button>
    </div>
</div>
<div class="row liste">

    <div class="list-group m-2 col-5 offset-1" *ngFor="let c of listCat">
        <a routerLink="/detail/categorie/{{ c.id }}"
            class="list-group-item list-group-item-action list-group-item boutonColor active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> Catégorie n° {{c.id}}</h5>
            </div>
            <p class="mb-1">Type : {{ c.type }}</p>
        </a>
    </div>
</div>