<div class="row m-5">
    <div class="col-3 offset-10 bRh">
        <button class="btn btn boutonImg" (click)="Retour()">Retour</button>
    </div>
</div>
<div class="row m-5">
    <div class="col-7 offset-2">
        <div class="card">
            <div class="card-header text-center">
                Catégorie n°{{ id }} - Genre : {{type }}
            </div>
            <div class="card-body scroll">
                <h5 class="card-title">Liste des mangas :</h5>
                <div *ngFor="let m of listMangas" class="ml-1">
                    <ul>
                        <li>{{ m.titre }}</li>
                    </ul>
                </div>
            </div>
            <div class="card-footer text-muted hov">
                <button class="btn  mr-3 b1"  (click)= "updateCat(id)">Modifier Catégorie</button>
                <button class="btn  b2" (click)="deleteCat(id)">Supprimer</button>
            </div>
        </div>
    </div>
</div>