<!-- <div class="row">
    <div class="col p-0">
        <nav class="navbar-collapse navbar-light fond">
            <a class="navbar-brand" routerLink='/'><img src="../../assets/images/logo_chat.png"></a>
            <a class="navbar-brand" routerLink='/'>Accueil</a>
            <!-- <a class="navbar-brand" routerLink = '/liste'>Mangas</a>
            <a class="navbar-brand" routerLink = '/search'>Rechercher un manga</a> -->
<!-- <form class="form-inline">
                <a  class="navbar-brand" routerLink='/admin'>Espace admin</a>
            </form>
        </nav>
    </div>
</div> -->

<div class="row">
    <div class="col p-0">
        <nav class="navbar-collapse navbar-light fond">
            <a class="navbar-brand col-1" routerLink='/'><img src="../../assets/images/logo_chat.png"></a>
            <a class="navbar-brand col-1" routerLink='/'>Accueil</a>
            <!-- <a class="navbar-brand" routerLink = '/liste'>Mangas</a>
            <a class="navbar-brand" routerLink = '/search'>Rechercher un manga</a> -->
            <a class="navbar-brand col-1 offset-8" routerLink='/admin'>Espace admin</a>
        </nav>
    </div>
</div>