<div class="row mt-5">

        <div class="col-3 offset-10">
            <button class="btn btn-primary" (click)="Retour()">Retour</button>
        </div>

 
    <div class="col-5 offset-3">
        <form>
            <div class="form-group">
                <input class="form-control" [(ngModel)]="num" name="num" type="number"
                    placeholder="entrez le numéro du manga">
                    <button class="btn btn-warning" (click)="Afficher()">Afficher</button>
            </div>

            <div class="row" *ngIf= "isMangaExist">
                <div class="col">
                    <div class="row m-3 list"> 
                        <div class="col-2 m-4 p-1">
                            <div class="card" style="width: 13rem;">
                               <img src="{{manga.urlCover}}" class="card-img-top cov" alt="...">
                                <a routerLink= "/detail/{{ manga.id }}" class="btn stretched-link">{{ manga.titre }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="file" (change)="UploadImg($event)">
            </div>
            <button type="submit" class="btn btn-danger" (click)="AddImage($event)">Ajouter</button>
        </form>
    </div>
</div>