.cov {
    height: 200px;
}

a {
  background-color: thistle;
}

.list {
    color: sandybrown;
}

.b1 {
  background-color:#0ddec2;
  color: purple;
  font-weight: bold;
  font-size: 21px;
}

.bRh :hover {
  background-color: purple;
  color : #0ddec2;
  font-weight: bold;
  font-size: 21px;
}