<div class="container">
    <div class="row">
        <div class="col-3 offset-4">
            <button class="btn btn-primary b1" (click)="Retour()">Retour</button>
        </div>
    </div>
    <div class="row m-3 list"> 
        <div class="col-2 m-4 p-1" *ngFor = 'let manga of mangas'>
            <div class="card" style="width: 13rem;">
               <img src="{{manga.urlCover}}" class="card-img-top cov" alt="...">
                <button class="btn btn-dark" (click)="Update(manga.id)">Modifier</button>
                <button class="btn btn-danger" (click)="DeleteManga(manga.id)">Supprimer</button>
            </div>          
        </div>
    </div>
</div>